.Alerts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Alerts__message {
  color: #b67b16;
  background: #F0C987;
  display: inline-block;
  width: 90%;
  box-shadow: 5px 5px 15px 0 rgba(240, 201, 135, .7);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
}